.home {
  display: flex;
  align-items: center;
  justify-content: center;
 min-height: 100vh;
  padding: 4rem 1.25rem;
}

@media screen and (min-width: 600px) {
  .home {
    padding: 4rem 3.5rem;
  }
}

@media screen and (min-width: 900px) {
  .home {
    padding: 5rem 5rem;
  }
}
@media screen and (min-width: 1300px) {
  .home {
    padding: 5rem 7.5rem;
  }
}
